cmake-build-debug
.idea
/objs/
/ft_nm
/libft/
/my_nm
/real_nm
/libft*
/test/2to3-
/test/2to3-2.7
/test/a2p
/test/a2p5.18
/test/afmtodit
/test/alias
/test/appletviewer
/test/apropos
/test/apt
/test/arch
/test/at
/test/atq
/test/atrm
/test/automator
/test/auval
/test/auvaltool
/test/bashbug
/test/batch
/test/bg
/test/binhex.pl
/test/binhex5.18.pl
/test/bitesize.d
/test/btmmdiagnose
/test/bzcmp
/test/bzdiff
/test/bzless
/test/bzmore
/test/c2ph
/test/c2ph5.18
/test/cd
/test/chfn
/test/chpass
/test/chsh
/test/command
/test/config_data
/test/config_data5.18
/test/corelist
/test/corelist5.18
/test/cpan
/test/cpan2dist
/test/cpan2dist5.18
/test/cpan5.18
/test/cpanp
/test/cpanp5.18
/test/cpanp-run-perl
/test/cpanp-run-perl5.18
/test/cpu_profiler.d
/test/cpuwalk.d
/test/crc32
/test/crc325.18
/test/creatbyproc.d
/test/csdiagnose
/test/cups-config
/test/curl-config
/1
/test/
